@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
    @font-face {
        font-family: Roboto;
        font-weight: 400;
        src: url('../../public/fonts/ja-jp.ttf');
    }
}
